:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #5fff5f;
    --branco: #FFFFFF;
    --botao-ativo: #3a373a;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /*define umamargem de 0 para cima e para baixo e automática para  os lados*/

}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botao-inativo);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    /*determina a  posição horizontal no display flex*/
    align-items: center;
    /*determina a posição  vertical no display flex*/
    width:  100%;
    font-size: 18px;
    /*controla o  tamanho da fonte*/
    padding: 1em;
    /*  um afastamento interno*/
}